header {
  @include flexbox(space-between, center, row);
  height: 6.25rem;
  width: 80%;
  margin: 0 auto;

  .logo {
    @include flexbox(undefined, undefined, row);

    img {
      display: block;
      width: 33px;
      height: 35px;
    }

    &__text {
      display: block;
      margin-left: 1.3125rem;

      &--title {
        font-size: 1.1875rem;
      }

      &--description {
        color: $clr-soft-grey;
        font-size: 0.5rem;
      }
    }
  }
}
