header {
  @include flexbox(space-between, center, row);
  height: 6.25rem;
  width: 100%;
  margin: 0 auto;
  padding-inline: 10%;

  .logo {
    @include flexbox(undefined, undefined, row);
    margin-block: 0.625rem;

    img {
      display: block;
      width: 33px;
      height: 35px;
    }

    &__text {
      display: block;
      margin-left: 1.3125rem;

      &--title {
        font-size: 1.1875rem;
      }

      &--description {
        color: $clr-soft-grey;
        font-size: 0.5rem;
      }
    }
  }

  .nav-toggle {
    display: none;
    position: relative;
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    right: 1rem;
    z-index: 1000;
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: $clr-dark;
    width: 1.5em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
  }

  .hamburger::before {
    top: 6px;
  }
  .hamburger::after {
    bottom: 6px;
  }

  @media (max-width: 1200px) {
    position: fixed;
    height: auto;
    background: $clr-light;
    z-index: 2;

    .nav {
      position: fixed;
      background: $clr-light;
      color: $clr-dark;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      transform: translateX(100%);
      transition: transform 250ms ease-in-out;
      -webkit-transition: transform 250ms ease-in-out;
      -moz-transition: transform 250ms ease-in-out;
      -ms-transition: transform 250ms ease-in-out;
      -o-transition: transform 250ms ease-in-out;
    }

    .nav__list {
      position: absolute;
      top: 50%;
      left: 50%;
      right: 50%;
      height: 100%;
      @include fontStyle(2.5rem, inherit, $fw-bold, $clr-dark, uppercase);
      @include flexbox(space-evenly, center, column);
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }

    .nav-toggle {
      display: block;
    }
  }

  .search-box {
    border: solid 3px $clr-accent;
    display: inline-block;
    position: relative;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    -ms-border-radius: 75px;
    -o-border-radius: 75px;
  }
  .search-box input[type='text'] {
    font-family: 'Questrial', sans-serif;
    @include fontStyle(1rem, inherit, $fw-reg, $clr-dark, capitalize);
    width: 30px;
    height: 30px;
    padding: 5px 40px 5px 10px;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
  }
  .search-box input[type='text']:focus {
    outline: none;
  }
  .search-box input[type='text']:focus,
  .search-box input[type='text']:not(:placeholder-shown) {
    width: 300px;
    min-width: 20px;
    transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
  }
  .search-box input[type='text']:focus + span,
  .search-box input[type='text']:not(:placeholder-shown) + span {
    bottom: 13px;
    right: 10px;
    transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
  }
  .search-box input[type='text']:focus + span:after,
  .search-box input[type='text']:not(:placeholder-shown) + span:after {
    top: 0;
    right: 10px;
    opacity: 1;
    transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms,
      opacity 300ms ease 1100ms;
  }
  .search-box span {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -13px;
    right: -15px;
    transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
  }
  .search-box span:before,
  .search-box span:after {
    content: '';
    height: 20px;
    border-left: solid 3px $clr-accent;
    position: absolute;
    transform: rotate(-45deg);
  }
  .search-box span:after {
    transform: rotate(45deg);
    opacity: 0;
    top: -20px;
    right: -10px;
    transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
  }
}
