.portfolio {
  @include flexbox(center, center, column);
  padding-bottom: 4.8125rem;

  .display-icons-container {
    width: 3.3125rem;
    margin: 4.375rem auto;
    @include flexbox(space-between, center, row);

    .gallery,
    .list {
      cursor: pointer;
    }
  }

  .nav {
    margin-bottom: 4.6875rem;

    &__list {
      @include flexbox(center, center, row);
    }
  }

  .grid {
    width: 73.125rem;
    height: auto;
    column-count: 3;
    column-gap: 20px;
    row-gap: 20px;

    img {
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
